doctype html
html(lang='en')
  include header.jade
  body
    // Navigation
    include nav.jade
    // Header
    a(name='about')
    .intro-header
      .container
        .row
          .col-lg-12
            .intro-message
              h1  Board Game Picker
              h3 A Cure for Gamer Indecision
      // /.container
    // /.intro-header
    // Page Content
    a(name='services')
    .content-section-a
      .container
        .row
          .col-lg-5.col-sm-6
            hr.section-heading-spacer
            .clearfix
            h2.section-heading
              | Lorem Ipsum:
            p.lead
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel sem libero. Cras auctor quis dui et luctus. Duis commodo porta mi nec elementum. Proin imperdiet laoreet est vel tristique. Curabitur at sollicitudin mi, vitae auctor dui. Praesent vestibulum aliquam vehicula. Sed consectetur convallis ornare. Suspendisse luctus quis lectus nec tempor. Sed nisi turpis, mattis quis molestie at, porta ut tortor. Aliquam malesuada metus orci, vel dapibus nunc ultricies a. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed vitae quam elementum, sodales libero vitae, dapibus ex. Quisque rutrum eros eget fermentum convallis.
          .col-lg-5.col-lg-offset-2.col-sm-6
            img.img-responsive(src='/images/yearodragon_lg.jpg', alt='')
      // /.container
    // /.content-section-a
    .content-section-b
      .container
        .row
          .col-lg-5.col-lg-offset-1.col-sm-push-6.col-sm-6
            hr.section-heading-spacer
            .clearfix
            h2.section-heading
              | Lorem Ipsum:
            p.lead
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel sem libero. Cras auctor quis dui et luctus. Duis commodo porta mi nec elementum. Proin imperdiet laoreet est vel tristique. Curabitur at sollicitudin mi, vitae auctor dui. Praesent vestibulum aliquam vehicula. Sed consectetur convallis ornare. Suspendisse luctus quis lectus nec tempor. Sed nisi turpis, mattis quis molestie at, porta ut tortor. Aliquam malesuada metus orci, vel dapibus nunc ultricies a. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed vitae quam elementum, sodales libero vitae, dapibus ex. Quisque rutrum eros eget fermentum convallis.
          .col-lg-5.col-sm-pull-6.col-sm-6
            img.img-responsive(src='/images/merchantsmarauders.jpg', alt='')
      // /.container
    // /.content-section-b
    .content-section-a
      .container
        .row
          .col-lg-5.col-sm-6
            hr.section-heading-spacer
            .clearfix
            h2.section-heading
              | Lorem Ipsum
            p.lead
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel sem libero. Cras auctor quis dui et luctus. Duis commodo porta mi nec elementum. Proin imperdiet laoreet est vel tristique. Curabitur at sollicitudin mi, vitae auctor dui. Praesent vestibulum aliquam vehicula. Sed consectetur convallis ornare. Suspendisse luctus quis lectus nec tempor. Sed nisi turpis, mattis quis molestie at, porta ut tortor. Aliquam malesuada metus orci, vel dapibus nunc ultricies a. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed vitae quam elementum, sodales libero vitae, dapibus ex. Quisque rutrum eros eget fermentum convallis.
          .col-lg-5.col-lg-offset-2.col-sm-6
            img.img-responsive(src='/images/antike_lg.jpg', alt='')
      // /.container
    // /.content-section-a
    a(name='contact')
    .banner
      .container
        .row
          .col-lg-6
            h2 Connect to Start Bootstrap:
          .col-lg-6
            ul.list-inline.banner-social-buttons
              li
                a.btn.btn-default.btn-lg(href='https://twitter.com/SBootstrap')
                  i.fa.fa-twitter.fa-fw
                  span.network-name Twitter
              li
                a.btn.btn-default.btn-lg(href='https://github.com/IronSummitMedia/startbootstrap')
                  i.fa.fa-github.fa-fw
                  span.network-name Github
              li
                a.btn.btn-default.btn-lg(href='#')
                  i.fa.fa-linkedin.fa-fw
                  span.network-name Linkedin
      // /.container
    // /.banner
    // Footer
    footer
      .container
        .row
          .col-lg-12
            ul.list-inline
              li
                a(href='#') Home
              li.footer-menu-divider ⋅
              li
                a(href='/add_user') Add User
              li.footer-menu-divider ⋅
              li
                a(href='/suggest') Suggest
            //- p.copyright.text-muted.small Copyright © Your Company 2014. All Rights Reserved
    // jQuery
    script(src='/javascripts/jquery.js')
    // Bootstrap Core JavaScript
    script(src='/javascripts/bootstrap.min.js')
