body
    if firsttime
        div
            h1 What users are present?
            form(action='/suggest',method='post')
                div(data-role='fieldcontain')
                    fieldset(data-role='controlgroup')
                        for username in usernames
                            input(type='checkbox',name=username)
                            | #{username}
                            br
                div(data-role='fieldcontain')   
                    input(type='submit',value='Submit',data-transition='fade', data-theme='c')
    else
        div
            h1 
                | Games suggestions list
            ul
                li
                    | GoT
            //for gameIdObject in userData.gameIds
            //    li=gameIdObject.name