body
    if firsttime
        div
            form(action='/test',method='post')
                div(data-role='fieldcontain')
                    fieldset(data-role='controlgroup')
                        label(for='username') username
                            input(id='username',type='text',value='',placeholder='username e.g. zikky',name='username')
                div(data-role='fieldcontain')   
                    input(type='submit',value='Pick!',data-transition='fade', data-theme='c')
    else
        div
            h1 A list of game titles
            p
                | Number of records: #{recordCount}
            ul
                for name in recordNames
                    li=name