body {
    padding: 40px;
    font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.test{
    background-color: red;
}

.test:hover {
    background-color: #ff00ff;
}

#nameslist div input[type=checkbox]:checked + .test{
    background-color: green;
}